html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

#main {
    margin: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    border: black 1px solid;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#canvas {
    /*width: fit-content;*/
    /*height: fit-content;*/
    border: black 1px solid;
    display: inline-block;
}

#control {
    height: fit-content;
    width: fit-content;
    flex-grow: 1;
    border: black 1px solid;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-flow: row wrap;
}

label {
    display: inline-block;
    margin-right: 10px;
}

#slider-control {
    margin-top: 20px;
}

#component-control {
    align-self: flex-start;
}

#component-tree-wrapper {
    border: black 1px solid;
    padding: 20px;
}

#component-tree li {
    /*background-color: #4CAF50;*/
    /*border: none;*/
    border: 1px solid black;
    width: fit-content;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    background: black;
    /*padding: 12px 24px;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
    /*font-size: 16px;*/
    /*margin: 4px 2px;*/
    cursor: pointer;
}